<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project1">
        <activity
            android:name="com.example.project1.GoogleSignUp"
            android:exported="false" />
        <activity
            android:name=".viewStats"
            android:exported="false" />
        <activity
            android:name=".updateStats"
            android:exported="false" />
        <activity android:name="com.example.project1.splash_screen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.project1.Profile" />
        <activity
            android:name="com.example.project1.Navigation"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.Project1.NoActionBar" />
        <activity android:name="com.example.project1.DevInfo"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.example.project1.UserInfo"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.example.project1.Signup"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.example.project1.Login"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.project1.Landing"
            android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>

</manifest>